:host .table-container ::ng-deep {
    table {
        width: 100%;
        .list-container {
            .itemRow {
                .content-row {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    padding: 0.5rem;
                    border-bottom: 1px solid rgba(214, 219, 219, 0.4);
                    .row-cell {
                        text-align: center;
                        display: inline-block;
                        padding-top: 18px;
                        padding-bottom: 18px;
                        margin: auto;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        .rowCount {
                            display: block;
                            padding: 0.5rem;
                        }
                        .rowTrend {
                            display: block;
                            padding: 0.5rem;
                        }
                    }
                    
                }
            }
        }
    }
}