<section *ngIf="data?.length && tableConfig?.tableHeaders?.length" class="table-container-comp">
  <section class="table-header-comp">
    <!-- <ng-content select="table-header"></ng-content> -->
    <div class="headerRow">
      <div class="headerColumn" *ngFor="let header of tableConfig.tableHeaders">
        <div *ngIf="header.name" class="headerTitle">{{header.name}}</div>
        <div *ngIf="header.metadata" class="headerMeta">{{header.metadata}}</div>
        <div *ngIf="header.allowToggle" 
          class="headerToggle" 
          [ngClass]="{ 'toggleOn': toggleState[header.name], 'toggleOff': !toggleState[header.name]}">
          <span *ngIf="toggleState[header.name]" (click)="toggle(header.property, false)">-</span>
          <span *ngIf="!toggleState[header.name]" (click)="toggle(header.property, true)">+</span>
        </div>
      </div>
    </div>
  </section>
  <section class="table-content-comp">
    <!-- <ng-content select="table-content"></ng-content> -->
    <ng-container *ngIf="!!tableConfig.enableVirtualScroll">
      
      <cdk-virtual-scroll-viewport class="list-container" itemSize="60" autosize>
        <div *cdkVirtualFor="let d of data" class="itemRow">
          <ng-container *ngTemplateOutlet="row; context: { data: d, toggleState: this.toggleState }"></ng-container>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>
    
  </section>
</section>